body {
    background-color: #0d355a;
}

h1 {
    color: red;
    text-align: center;
}

.selectedPara {
    color: #decade;
}

a {
    color: #0ff;
    position: absolute;
    right: 30%;
}

a:hover {
    text-decoration: none;
}

a:active {
    font-size: 1.2rem;
}

a:focus {
    color: green;
}

a:visited {
    background-color: yellow;
}

div > label {
    font-size: 1.4rem;
    margin-left: 41%;
    margin-right: 25px;
}

input::-moz-placeholder{
    color: purple;
}

button {
    margin-top: 20px;
    margin-left: 49.5%;
    background-color: aqua;
}

.container:empty {
    display: block;
    height: 100px;
}

.footer {
    position: fixed;
    top: 40vh;
    left: 33%;
}
