body {
    background: url('../img/Gradient_builder_2.jpg');
    background-attachment: fixed;
    background-size: cover;
    h1 {
        text-align: center;
    }
    ul {
        list-style: none;
        .here {
            margin-bottom: 10px;
        }
        li {
            a {
                text-decoration: none;
                margin-bottom: 10px;
            }
        }
    }
}