.wrapper {
  margin: 200px auto;
  width: 600px;
  height: 250px;
  background: white;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  color: grey;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: white;
  text-align: center;
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #4CB420;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
